BACKUP_PATH=/data/backup/__NAMESPACE__-mongo
DATA_PATH=/data/persist/__NAMESPACE__-mongo

# addition
# ASM_MONGO_NGINX_ACCESS_LOG_COMMENT=#
# ASM_MONGO_NGINX_EXPOSER_LOG_LEVEL=warn
# ASM_MONGO_NGINX_EXPOSER_RESOLVER_COMMENT=#
# ASM_MONGO_NGINX_EXPOSER_RESOLVER_VALUE=1.1.1.1 8.8.8.8 9.9.9.9 valid=300 ipv6=off
# ASM_MONGO_NGINX_EXPOSER_WORKER_CONNECTIONS=4096
# ASM_MONGO_NGINX_EXPOSER_WORKER_PROCESSES=auto
